<a name="{{ anchorLink(method, true) }}">&nbsp;</a>

### {% if method.deprecated %}<s>{% endif %}{{ method.name }}{% if method.deprecated %}</s> <kbd style="color:red;">DEPRECATED</kbd>{% endif %}{% if method.static %} <kbd>static</kbd>{% endif %}{% if method.abstract %} <kbd>abstract</kbd>{% endif %}{% if method.magic %} <kbd>magic</kbd>{% endif %}

{# Method signature #}
```php
{{ class.name }}::{{ method.name }}( {% for argument in method.arguments %}
{{- argument.types ? argument.types|join('|')~' ' }}
{{- argument.byReference ? '&' }}
{{- argument.name }}{{ (argument.default ? ' = '~argument.default)|raw }}
{%- if not loop.last %}, {% endif %}
{%- endfor %} )
{{- (method.response.types ? ': '~method.response.types|join('|'))|raw }}
```

{{ formatSummary(method.summary)|raw }}

{{ formatSummary(method.description)|raw }}

{% if method.deprecated %}* **Warning:** this method is **deprecated**. This means that this method will likely be removed in a future version.
{% endif %}

{% if method.inherits %}
* **Inherits** {{ method.inherits }}
{% endif %}
{% if method.implementsInterface %}
* **Implements** {{ method.implementsInterface }}
{% endif %}
{% if method.overrides %}
* **Overrides** {{ method.overrides }}
{% endif %}

{% if method.arguments is not empty %}
**Parameters:**

| Name | Type | Description |
|------|------|-------------|
{% for argument in method.arguments %}
| {{ argument.name }} | **{{ argument.types ? (argument.types|join('&#124;')|raw ?: 'mixed') }}** | {{ argument.description|replace({'|': '&#124;'})|raw ?: '&nbsp;' }} |
{% endfor %}

{% endif %}{# method.arguments is not empty #}

{% if method.response.description %}
**Return Value:**

{{ formatSummary(method.response.description)|raw }}

{% endif %}

{% if method.tags.see is not empty or method.tags.link is not empty %}
**See Also:**

{% for see in method.tags.see %}
* {{ see.reference }} {% if see.description %}- {{ see.description|raw }}{% endif %}
{% endfor %}
{% for link in method.tags.link %}
* {{ link.link }} {% if link.description and link.description != link.link %}- {{ link.description|raw }}{% endif %}
{% endfor %}

{% endif %}{# method.tags.see || method.tags.link #}

---

